body {
  background-color: #1b1a19;
  color: #e0d9ce;
}

header {
  display: flex;
  padding: 0.5em;
  width: 100vw;
  color: #1b1a19;
  background-color: #e0d9ce;
  z-index: 2;
}

header .logo {
  flex-grow: 1;
}
header .logo img {
  width: 1.8em;
}
header nav {
  display: flex;
}

.nav-title {
  font-size: 1.3em;
  font-weight: 800;
  color: #1b1b19;
  flex-grow: 0.73;
}

.nav-option {
  height: 1.5em;
  margin: 0 1em 0.3em 0;
}

.nav-option a {
  font-size: 1.3em;
  color: #1b1b19;
  text-decoration: none;
  padding: 0.5em;
  transition: all 0.15s ease-in;
}
.nav-option a:hover {
  border-radius: 5px;
  background-color: #b0a99c;
}

.main {
  display: flex;
  text-align: center;
  align-items: center;
  justify-content: center;
}

.layer0 {
  z-index: 0;
}

.layer1 {
  z-index: 1;
}

.layer2 {
  z-index: 2;
}

.layer3 {
  z-index: 3;
}
